<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logger</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1>Filesystem Logging</h1>
    <table class="rwd-table">
      <tr>
        <th>Event Type</th>
        <th>File</th>
        <th>Description</th>
      </tr>
      {% for object in objects %}
      <tr>
        {% for col in object %}
        <td> {{ col }} </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
